<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Web Tool</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}"/>
</head>
<body>
    <div class="header">
        <img src="{{url_for('static', filename='assets/spotify.ico')}}" alt="" class="himg">
        <h1 class="h1head">AlexW03x Spotify Playlist Downloader</h1>
    </div>
    <div class="fill">
        <img src="{{images}}" alt="" class="playlistimg">
        <h1 class="filltxt"> {{options}} </h1>
        <p class="filldesc"> No. Tracks: {{tracks}}</p>
        <form action="{{links}}">
            <input type="submit" value="Open in Spotify" class="btn">
        </form>
        <form action="{{ url_for('download') }}" method="post">
            <input type="submit" value="Download Playlist" class="btn">
        </form>
        <br>
        <form method="post">
            <select name="plopt" class="dropdown">Select Playlist: 
                {%for i in range(0, totalopts)%}
                <option value="{{i}}">{{optionss[i]}}</option>
                {%endfor%}
            </select>
            <input type="submit" class="btn" style="background-color:cornflowerblue;">
        </form>
    </div>
</body>
<script>
</script>
</html>